{% extends 'layout.twig' %}

{% block body %}

  {%  set vars = {'username':username, 'avatarUrl':avatarUrl, 'title':title} %}
  {% include 'nav.twig' with vars only %}


  <form action="/traitementOrga">

    <div>
      <!-- On passe le githubId en paramètre -->
      <input type="text" name="username" id="githubId" value="{{ username }}" placeholder="Username" hidden>
    </div>

    <div>
      <label for="inputOrga">Organisation</label>
      <input type="text" name="organization" id="inputOrga" placeholder="My Organization">
    </div>

    <button type="submit">Submit</button>

  </form>
{% endblock %}
